<%- include('inc/_header'); %>
<main class="l-agency">
    <div class="l-container">
        <div class="c-detail">
            <h4><span>見</span>だしサンプル (H4)</h4>
            <p>
                この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・
                量字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・量字間・行間の確認のために配置
                しています。この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。
            </p>
            <h5>見だしサンプル (H5)</h5>
            <p>
                この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・
                量・字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置
                しています。この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。
            </p>
            <ul>
                <li>リストサンプル</li>
                <li>リストサンプル</li>
                <li>リストサンプル</li>
            </ul>
            <ol>
                <li>リストサンプル(数字)</li>
                <li>リストサンプル(数字)</li>
                <li>リストサンプル(数字)</li>
            </ol>
            <div class='c-detail__border-left'>
                <p>定義リストサンプル</p>
                <p>この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・
                    量・字間・行間の確認のために配置しています。この文章はダミーです。
                </p>
            </div>
            <div class='c-detail__border-left'>
                <p>定義リストサンプル</p>
                <p>この文章はダミーです。文字の大きさ・量・字間・行間の確認のために配置しています。この文章はダミーです。文字の大きさ・
                    量・字間・行間の確認のために配置しています。この文章はダミーです。
                </p>
            </div>
            <div class='c-detail__quote-box'>
                <p>引用表示時サンプル</p>
                <p>
                    引用文章表示時サンプルです。この文章はダミーです。引用文章表示時サンプルです。この文章はダミーです。引用文章表示
                    時サンプルです。この文章はダミーです。引用文章表示時サンプルです。この文章はダミーです。引用文章表示時サンプルです。
                    この文章はダミーです。
                </p>
                <img src="https://via.placeholder.com/91x49" alt="">
            </div>
        </div>
    </div>
    
</main>
<%- include('inc/_footer'); %>