<%- include('inc/_header'); %>
<main class="l-cleaningService">
    <div class="p-introduce">
        <div class="l-container">
            <div class="c-title03 p-introduce__title">
                <span class="ja">エアコンクリーニング</span>
                <span class="en">AIR CONDITIONER CLEANING</span>
            </div>
            <p class="p-introduce__desc">
                エネルギー効率の改善はもちろんですが、エアコンからの空気は、皆様の健康に大きな影響を及ぼします。年に一回は、エア
                コンを分解してクリーニングすることをおすすめいたします。
            </p>
            <div class="c-cleaningService">
                <img src="https://via.placeholder.com/409x328" alt="">
                <div class="c-cleaningService__content">
                    <div class="c-cleaningService__contentText">
                        <div class="c-cleaningService__part">
                            <h4 class="c-cleaningService__title">サービス価格</h4>
                            <p>11,000 円( 税抜 )</p>
                            <div class="c-cleaningService__price">
                                <p>10,000 円<span>(税抜)</span></p>
                                <span class="c-cleaningService__price--tag">1台</span>
                            </div>
                        </div>
                        <div class="c-cleaningService__part">
                            <h4 class="c-cleaningService__title">サービス時間</h4>
                            <p class="c-cleaningService__desc">約1<span>~</span>2時間</p>
                        </div>
                        <div class="c-cleaningService__part">
                            <h4 class="c-cleaningService__title">サービス範囲</h4>
                            <div class="c-cleaningService__list-tag">
                                <a href="">エアコン本体</a> / 
                                <a href="">アルミフィン</a> / 
                                <a href="">ファン</a> / 
                                <a href="">外装</a> / 
                                <a href="">パネルフィルター</a>
                            </div>
                        </div>
                    </div>
                    <div class="c-cleaningService__inputPart">
                        <p>台数を選択してください</p>
                        <div class="c-cleaningService__select-box">
                            <select name="" id="">
                                <option value="">1 台</option>
                                <option value="">2 台</option>
                                <option value="">3 台</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-option-menu">
        <div class="l-container">
            <div class="c-title03 p-option-menu__title">
                <span class="ja">オプションメニュー追加</span>
                <span class="en">OPTION MENU</span>
            </div>
            <div class="p-option-menu__content">
                <div class="c-option-menu c-option-menu--w-47">
                    <h3>お掃除機能付き</h3>
                    <p class='c-option-menu__desc'>
                        こちらの文章はダミーです。こちらの文章はダミーで
                        す。こちらの文章はダミーです。こちらの文章はダミー
                        です。こちらの文章はダミーです。
                    </p>
                    <p class="c-option-menu__tag">サービス価格</p>
                    <div class="c-option-menu__price">
                        <h3>8,000 円<span>(税抜)</span></h3>
                        <span class="c-option-menu__quality">1 台</span>
                    </div>
                    <p>台数を選択してください</p>
                    <div class="c-option-menu__select-box">
                        <select name="" id="">
                            <option value="">1 台</option>
                            <option value="">2 台</option>
                            <option value="">3 台</option>
                        </select>
                    </div>
                    <a href="">このオプションを追加する</a>
                </div>
                <div class="c-option-menu c-option-menu--w-47">
                    <h3>お掃除機能付き</h3>
                    <p class='c-option-menu__desc'>
                        こちらの文章はダミーです。こちらの文章はダミーで
                        す。こちらの文章はダミーです。こちらの文章はダミー
                        です。こちらの文章はダミーです。
                    </p>
                    <p class="c-option-menu__tag">サービス価格</p>
                    <div class="c-option-menu__price">
                        <h3>8,000 円<span>(税抜)</span></h3>
                        <span class="c-option-menu__quality">1 台</span>
                    </div>
                    <p>台数を選択してください</p>
                    <div class="c-option-menu__select-box">
                        <select name="" id="">
                            <option value="">1 台</option>
                            <option value="">2 台</option>
                            <option value="">3 台</option>
                        </select>
                    </div>
                    <a href="">このオプションを追加する</a>
                </div>
                <div class="c-option-menu c-option-menu--w-47">
                    <h3>お掃除機能付き</h3>
                    <p class='c-option-menu__desc'>
                        こちらの文章はダミーです。こちらの文章はダミーで
                        す。こちらの文章はダミーです。こちらの文章はダミー
                        です。こちらの文章はダミーです。
                    </p>
                    <p class="c-option-menu__tag">サービス価格</p>
                    <div class="c-option-menu__price">
                        <h3>8,000 円<span>(税抜)</span></h3>
                        <span class="c-option-menu__quality">1 台</span>
                    </div>
                    <p>台数を選択してください</p>
                    <div class="c-option-menu__select-box">
                        <select name="" id="">
                            <option value="">1 台</option>
                            <option value="">2 台</option>
                            <option value="">3 台</option>
                        </select>
                    </div>
                    <a href="">このオプションを追加する</a>
                </div>
                <div class="c-option-menu c-option-menu--w-47">
                    <h3>お掃除機能付き</h3>
                    <p class='c-option-menu__desc'>
                        こちらの文章はダミーです。こちらの文章はダミーで
                        す。こちらの文章はダミーです。こちらの文章はダミー
                        です。こちらの文章はダミーです。
                    </p>
                    <p class="c-option-menu__tag">サービス価格</p>
                    <div class="c-option-menu__price">
                        <h3>8,000 円<span>(税抜)</span></h3>
                        <span class="c-option-menu__quality">1 台</span>
                    </div>
                    <p>台数を選択してください</p>
                    <div class="c-option-menu__select-box">
                        <select name="" id="">
                            <option value="">1 台</option>
                            <option value="">2 台</option>
                            <option value="">3 台</option>
                        </select>
                    </div>
                    <a href="">このオプションを追加する</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-buy-service">
        <a href="" class="c-button">このサービスを購入する</a>
    </div>
    <div class="p-customer-voice">
        <div class="l-container">
            <div class="c-title03 p-customer-voice__title">
                <span class="ja">このサービスを購入したお客様の声</span>
                <span class="en">CUSTOMER'S VOICE</span>
            </div>
            <p class="p-customer-voice__desc">
                当サービスをご利用になったお客様のご感想をお届けします。<br/>
                ご利用いただき有難うございました !
            </p>
            <div class="p-customer-voice__content">
                <div class="p-customer-voice__item c-feedback">
                    <img src="https://via.placeholder.com/149x149" alt="">
                    <div class="c-feedback__content">
                        <div class="c-feedback__links">
                            <p class="c-feedback__address">
                                大阪府 / 匿名希望
                            </p>
                            <div class="c-feedback__list-tags">
                                <a href="">水回り</a>
                                <a href="">お部屋</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- //include('inc/_footer'); %>