<%- include('inc/_header'); %>
<main class="l-cleaningService">
    <div class="l-container">
        <div class="c-title03 l-cleaningService__title">
            <span class="ja">エアコンクリーニング</span>
            <span class="en">AIR CONDITIONER CLEANING</span>
        </div>
        <p class="l-cleaningService__desc">
            エネルギー効率の改善はもちろんですが、エアコンからの空気は、皆様の健康に大きな影響を及ぼします。年に一回は、エア
            コンを分解してクリーニングすることをおすすめいたします。
        </p>
        <div class="c-cleaningService">
            <img src="https://via.placeholder.com/409x328" alt="">
            <div class="c-cleaningService__content">
                <div class="c-cleaningService__contentText">
                    <div class="c-cleaningService__part">
                        <h4 class="c-cleaningService__title">サービス価格</h4>
                        <p>11,000 円( 税抜 )</p>
                        <div class="c-cleaningService__price">
                            <p>10,000 円<span>(税抜)</span></p>
                            <span class="c-cleaningService__price--tag">1台</span>
                        </div>
                    </div>
                    <div class="c-cleaningService__part">
                        <h4 class="c-cleaningService__title">サービス時間</h4>
                        <p class="c-cleaningService__desc">約1~2時間</p>
                    </div>
                    <div class="c-cleaningService__part">
                        <h4 class="c-cleaningService__title">サービス範囲</h4>
                        <div class="c-cleaningService__list-tag">
                            <a href="">エアコン本体</a>/
                            <a href="">アルミフィン</a>/
                            <a href="">ファン</a>/
                            <a href="">外装</a>/
                            <a href="">パネルフィルター</a>
                        </div>
                    </div>
                </div>
                <div class="c-cleaningService__inputPart">
                    <p>台数を選択してください</p>
                    <select name="" id="">
                        <option value="">1台</option>
                        <option value="">2台</option>
                        <option value="">3台</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('inc/_footer'); %>