<%- include('inc/_header'); %>
<main class="l-contact">
    <div class="l-container">
        <div class="c-title03">
            <span class="ja">お問い合わせフォーム</span>
            <span class="en">CONTACT FORM</span>
        </div>
        <p class="l-contact__desc">
            ご利用のご相談は以下のフォームからお願いします。<br>
            <span>2,3</span> 営業日中に、担当者からご連絡させて頂きます。
        </p>
    </div>
    <div class="l-contact__form">
        <div class="l-container">
            <form action="">
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">お名前</label>
                    </div>
                    <input type="text" placeholder="例)   田中太朗、">
                </div>
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">郵便番号</label>
                    </div>
                    <input type="text" placeholder="例)   123-4567)">
                </div>
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">ご住所</label>
                    </div>
                    <input type="text" placeholder="例)   東京都大田区">
                </div>
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">お電話番号</label>
                    </div>
                    <input type="text" placeholder="例)   090-1234-5678">
                </div>
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">メールアドレス</label>
                    </div>
                    <input type="text" placeholder="199) abc@defg@com">
                </div>
                <div class="l-contact__item c-form">
                    <div class="c-form__label">
                        <span>必須</span>
                        <label for="">お問い合わせ内容</label>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="例) こちらにお問い合わせ内容をご記入くださいませ。"></textarea>
                </div>
            </form>
        </div>
    </div>
    <a href="" class="l-contact__button c-button">送信内容を確認する</a>
</main>
<%- include('inc/_footer'); %>