<%- //include('inc/_header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <!--▼ Header ▼-->
    <header class="c-header">
        <div class="l-container">
            <div class="c-header__top">
                <h1 class="c-header__logo">
                    <a href="">
                        <img src="https://via.placeholder.com/320x58" alt="img">
                    </a>
                </h1>
                <div class="c-header__info">
                    <div class="c-info">
                        <p class="c-info__phone">
                            <img src="https://via.placeholder.com/27x17" alt="img"><span><a href="tel:0120-573-176">0120-573-176</a></span>
                        </p>
                        <p class="c-info__time">
                            <span class="title">営業時間</span>
                            <span class="time">10 : 00 ~ 18 : 00</span>

                        </p>

                    </div>
                    <a href="" class="c-btn01 c-btn01--bgBlue">
                        <span class="c-btn01__icon">
                            <img src="https://via.placeholder.com/22x22" alt="img">
                        </span>
                        <span class="c-btn01__txt">
                            会員登録
                        </span>
                    </a>  
                    <a href="" class="c-btn01  c-btn01--bgYellow c-btn01--spmd">
                        <span class="c-btn01__icon">
                           <img src="https://via.placeholder.com/22x16" alt="img">
                       </span>
                       <span class="c-btn01__txt">
                        お問い合わせ
                    </span>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="c-header__nav">
            <ul class="c-gnav">
                <li><a href="">ハウスクリーニング</a></li>
                <li><a href="">エアコンのお掃除</a></li>
                <li><a href="">キッチンのお掃除</a></li>
                <li><a href="">水回りのお掃除</a></li>
                <li><a href="">民泊運営・掃除</a></li>
                <li><a href="">オンラインストア</a></li>
            </ul>
        </div>
    </div>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<div class="c-mainvisual">
    <div class="c-mainvisual__main">
        <img src="https://via.placeholder.com/1366x440" alt="img">
    </div>
    <div class="c-mainvisual__slogan">
        <div class="l-container">
            <div class="c-mainvisual__sloganCont">
                <span>清掃</span>なら、私達に<span>お任せ</span>ください。
            </div>
        </div>
    </div>
    <div class="c-mainvisual__slide ">
        <div class="c-mainvisual__slideInner js-slide1 c-slickDot">
            <div class="item">
                <p class="inner">
                    <img src="https://via.placeholder.com/570x98" alt="img">
                </p>

            </div>
            <div class="item">
                <p class="inner">
                    <img src="https://via.placeholder.com/570x98" alt="img">
                </p>

            </div>
            <div class="item">
                <p class="inner">
                    <img src="https://via.placeholder.com/570x98" alt="img">
                </p>

            </div>
            <div class="item">
                <p class="inner">
                    <img src="https://via.placeholder.com/570x98" alt="img">
                </p>

            </div>
            <div class="item">
                <p class="inner">
                    <img src="https://via.placeholder.com/570x98" alt="img">
                </p>

            </div>

        </div>
        <div class="c-mainvisual__slideArrow">
            <span class="js-slide1Prev"><i class="fas fa-chevron-left"></i></span>
            <span class="js-slide1Next"><i class="fas fa-chevron-right"></i></span>
        </div>
        
    </div>
</div>
<main class="p-top">
    <section class="p-top1">
      <div class="l-container">
        <div class="p-top1__title">
           <h2 class="c-title01">
               <img src="https://via.placeholder.com/565x100" alt="img">
           </h2>
       </div>

       <!--  -->
       <div class="p-top1__cont">
          <p>
              個人様向けに、通常のハウスクリーニングメニューを、<br>
              幅広く承っております! <br>
              更に法人様向けに宿泊施設の運営・清掃業務も対応しております。<br>
              お客様の満足度のためなら、とことんお掃除いたします。

          </p>
          <p class="textArt u-center">
            <span class="c-textUnder"> 清掃のプロである私たちに、ぜひおまかせください!</span>

        </p>

        <a href="" class="c-btn01 c-btn01--bgBlue c-btn01--spbig">
            <span class="c-btn01__icon">
                <img src="https://via.placeholder.com/22x22" alt="img">
            </span>
            <span class="c-btn01__txt">
                はじめての方へ 
            </span>
        </a>  
        <div class="p-top1__contOver">
            <img src="https://via.placeholder.com/160x338" alt="img" class="over_left">
            <img src="https://via.placeholder.com/105x370" alt="img" class="over_right">
        </div>

    </div>
    <!--  -->
    <div class="l-container">
        <div class="p-top1__banner">

            <div class="c-img01 c-img01--1 c-img01--top">
                <img src="https://via.placeholder.com/250x180" alt="img" class="over_right">
            </div>
             <div class="c-img01 c-img01--2 c-img01--bottom">
                <img src="https://via.placeholder.com/200x150" alt="img" class="over_right">
            </div>
             <div class="c-img01 c-img01--3 c-img01--top">
                <img src="https://via.placeholder.com/230x150" alt="img" class="over_right">
            </div>
             <div class="c-img01 c-img01--bottom c-img01--4">
                <img src="https://via.placeholder.com/200x140" alt="img" class="over_right">
            </div>
        </div>
    </div>

</div>   
</section>
<!-- *** -->
<section class="p-top2">
    <div class="l-container">
        <div class="c-service">
            <div class="c-service__left">
                <div class="c-service__thumb">
                    <div class="c-service__thumbImg">
                       <img src="https://via.placeholder.com/378x378" alt="img">
                   </div>
                   <div class="c-service__thumbTxt c-service__thumbTxt--center">
                     <span> HOUSE CLEANING</span>
                 </div>
             </div>
         </div>
         <div class="c-service__right">
            <h3>ハウスクリーニング</h3>
            <p>
                ハウスクリーニングは清掃のプロにおまかせ! <br>
                あなたの大切なお家も、生活をしていくうちにさまざまな汚れが 生じていくものです。最初はちょっとした汚れだった部分も、い つの間にか頑固なものになっていってしまいます。普通のお掃除 では手に終えないような汚れであっても、私たちにおまかせくだ さい!さまざまな技術や豊富な経験を活かした確実な仕事ぶりで、 皆様の悩みにお応えします!

            </p>
            <div class="button">
                <a href="" class="c-btn01 c-btn01--bgBlue c-btn01--spbig02">
                    <span class="c-btn01__icon">
                        <img src="https://via.placeholder.com/22x22" alt="img">
                    </span>
                    <span class="c-btn01__txt">
                     詳しく見る
                 </span>
             </a>  
         </div>
     </div>
 </div>
 <!--  -->
 <div class="c-service">
    <div class="c-service__left">
        <div class="c-service__thumb">
            <div class="c-service__thumbImg">
                <img src="https://via.placeholder.com/378x378" alt="img">
            </div>
            <div class="c-service__thumbTxt c-service__thumbTxt--modifier">
             <span>MINPAKU</span>
             <span>CLEANING</span>
         </div>
     </div>
 </div>
 <div class="c-service__right">
    <h3>民泊運営・清掃</h3>
    <p>
        民泊清掃もハイクオリティのスキルで! <br>当社は、一般的な民泊清掃はもちろん、リネンレンタルやエアコ ン内部高圧洗浄クリーニングなどの業務も承っております。お客 様がいつでも、気持ちよくお部屋を使えるようにするためには、 さまざまな場所への目配り・気配りが欠かせません!当社は、皆 様にとって理想的な業者であるように心がけ、多くの工夫を凝ら したメニューを展開しております。


    </p>
    <div class="button">
        <a href="" class="c-btn01 c-btn01--bgBlue c-btn01--spbig02">
            <span class="c-btn01__icon">
                <img src="https://via.placeholder.com/22x22" alt="img">
            </span>
            <span class="c-btn01__txt">
             詳しく見る
         </span>
     </a>  
 </div>
</div>
</div>
</div>
</section>
<!-- *** -->
<section class="p-top3">
    <div class="p-top3__banner">
        <img src="https://via.placeholder.com/1366x250" alt="img">
    </div>
    <div class="l-container">
        <div class="p-top3__content">
            <div class="p-top3__title">
                <h2 class="c-title02">
                    <span class="c-title02__inner">
                        <span class="u-yellow">人気</span><span class="sm">の</span><span class="u-yellow">おすすめ</span>メニュー

                    </span>
                </h2>
            </div>
            <ul class="c-archive">
                <li class="c-archive__item">
                   <a href="" class="c-archive__thumb">
                     <img src="https://via.placeholder.com/250x195" alt="img">
                 </a>
                 <div class="c-archive__cont">
                   <a href="" class="u-block">
                       <h3>エアコン</h3>
                       <p>
                           エネルギー効率の改善はもちろんですが、エアコンからの空気は、皆様の健康 に大きな影響を及ぼします。年に一回は、エアコンを分解してクリーニングす ることをおすすめいたします。

                       </p>
                   </a>
                   <ul class="c-archive__tag">
                       <li>
                           <a href="">壁掛け</a>
                       </li>
                       <li>
                           <a href="">天井埋込</a>
                       </li>
                   </ul>


               </div>
           </li>
           <!--  -->
           <li class="c-archive__item">
               <a href="" class="c-archive__thumb">
                 <img src="https://via.placeholder.com/250x195" alt="img">
             </a>
             <div class="c-archive__cont">
               <a href="" class="u-block">
                   <h3>キッチン</h3>
                   <p>
                       こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミー です。こちらの文章はダミーです。こちらの文章はダミーです。

                   </p>
               </a>
               <ul class="c-archive__tag">
                   <li>
                       <a href="">ダミー </a>
                   </li>
                   <li>
                       <a href="">ダミー </a>
                   </li>
               </ul>


           </div>
       </li>
       <!--  -->
       <li class="c-archive__item">
           <a href="" class="c-archive__thumb">
             <img src="https://via.placeholder.com/250x195" alt="img">
         </a>
         <div class="c-archive__cont">
           <a href="" class="u-block">
               <h3>水回り</h3>
               <p>
                   こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミー です。こちらの文章はダミーです。こちらの文章はダミーです。
               </p>
           </a>
           <ul class="c-archive__tag">
               <li>
                   <a href="">ダミー </a>
               </li>
               <li>
                   <a href="">ダミー </a>
               </li>
           </ul>


       </div>
   </li>
   <!--  -->
   <li class="c-archive__item">
       <a href="" class="c-archive__thumb">
         <img src="https://via.placeholder.com/250x195" alt="img">
     </a>
     <div class="c-archive__cont">
       <a href="" class="u-block">
           <h3>お部屋</h3>
           <p>
               こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミー です。こちらの文章はダミーです。こちらの文章はダミーです。
           </p>
       </a>
       <ul class="c-archive__tag">
           <li>
               <a href="">ダミー </a>
           </li>
           <li>
               <a href="">ダミー </a>
           </li>
       </ul>


   </div>
</li>

</ul>
</div>
</div>
</section>
<!-- *** -->
<section class="p-top4">
    <div class="l-container">
        <p class="p-top4__head">どんな状態・どんなお部屋でもスッキリ綺麗に！</p>
        <div class="c-box01">
            <div class="c-box01__tel">
                <h3>お電話でのお問い合わせ</h3>
                <p class="tel">
                    <img src="https://via.placeholder.com/58x38" alt="img">
                    <span>0120-537-176</span>
                </p>
                <p class="time">
                    <span class="title">営業時間</span>
                    <span class="hours">10 : 00 ～ 18 : 00</span>
                </p>
            </div>
            <div class="c-box01__mail">
                <h3>WEBでのお問い合わせ</h3>
                <div class="button">
                 <a href="" class="c-btn01 c-btn01--bgYellow c-btn01--big">
                    <span class="c-btn01__icon c-btn01__icon--bgBlack">
                        <img src="https://via.placeholder.com/22x22" alt="img">
                    </span>
                    <span class="c-btn01__txt">
                     お問い合わせはこちら
                 </span>
             </a>  
         </div>
     </div>
 </div>
</div>
</section>
<!-- *** -->
<section class="p-top5">
    <div class="p-top5__head">
        <div class="bg">
            <div class="item">
               <img src="https://via.placeholder.com/280x210" alt="img">
           </div>
           <div class="item">
               <img src="https://via.placeholder.com/280x210" alt="img">
           </div>
           <div class="item">
               <img src="https://via.placeholder.com/280x210" alt="img">
           </div>
           <div class="item">
               <img src="https://via.placeholder.com/280x210" alt="img">
           </div> 
           <div class="item">
               <img src="https://via.placeholder.com/280x210" alt="img">
           </div>
       </div>
       <div class="content">
        清掃後のお家例お写真（実例のようなもの）
    </div>
</div>
<!--  -->
<div class="p-top5__voice">
    <div class="l-container">


        <div class="c-voice">
            <div class="c-voice__head">
                <h3>お客様の声</h3>
                <span>CUSTOMER'S VOICE</span>
                <p class="imgOver">
                    <img src="https://via.placeholder.com/285x125" alt="img">
                </p>
            </div>
            <ul class="c-voice__list">
                <li class="c-voice__item">
                 <div class="c-voice__itemThumb">
                  <img src="https://via.placeholder.com/145x145" alt="img">
              </div>
              <div class="c-voice__itemContent">
                <div class="info">
                    <p>大阪府 / 匿名希望</p>
                    <ul>
                        <li>
                            <a href="">水回り</a>
                        </li>
                        <li>
                            <a href="">お部屋</a>
                        </li>
                    </ul>
                </div>
                <h4 class="title">どんな状態・どんなお部屋でもスッキリ綺麗に ！</h4>
                <div class="content">
                 こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こち らの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの 文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章 はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミー です。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。 こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こち らの文章はダミーです。

             </div>
         </div>
     </li>
     <!--  -->
     <li class="c-voice__item">
         <div class="c-voice__itemThumb">
          <img src="https://via.placeholder.com/145x145" alt="img">
      </div>
      <div class="c-voice__itemContent">
        <div class="info">
            <p>大阪府 / 匿名希望</p>
            <ul>
                <li>
                    <a href="">水回り</a>
                </li>
                <li>
                    <a href="">お部屋</a>
                </li>
            </ul>
        </div>
        <h4 class="title">どんな状態・どんなお部屋でもスッキリ綺麗に！</h4>
        <div class="content">
         こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こち らの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの 文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章 はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミー です。こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。 こちらの文章はダミーです。こちらの文章はダミーです。こちらの文章はダミーです。こち らの文章はダミーです。

     </div>
 </div>
</li>

</ul>
</div>

</div>
</div>
</section>
<!-- *** -->
<section class="p-top6">
    <div class="l-container">
        <h2 class="c-title03 c-title03--cWhite">
            <span class="ja">ご依頼の流れ</span>
            <span class="en">flow</span>
        </h2>

        <ul class="c-navTab" data-content="#tabContent1">
            <li data-content="tab1" class="is-active">ハウスクリーニング</li>
            <li>民泊清掃・運営</li>
        </ul>
        <div id="tabContent1" >
            <div class="c-tabContent" id="tab1">
                <h3 class="c-tabContent__title">House CLEANING</h3>
                <ul class="c-tabContent__list">
                    <li class="c-tabContent__listItem">
                        <figure>
                            <img src="https://via.placeholder.com/390x225" alt="img">
                        </figure>
                        <div class="content">
                            <h4>
                                サービスのお申し込み
                            </h4>
                            <p>
                                お電話かお問い合わせフォームから、お気軽にご相談くだ さい。ご利用したいサービス、お名前、ご連絡先と、お打 ち合わせの日程やご要望などをお知らせくださいませ。

                            </p>
                        </div>

                    </li>
                    <!--  -->
                    <li class="c-tabContent__listItem">
                        <figure>
                            <img src="https://via.placeholder.com/390x225" alt="img">
                        </figure>
                        <div class="content">
                            <h4>
                                お見積もり

                            </h4>
                            <p>
                                基本的にはお電話で作業料金をご案内させて頂きますが、 清掃内容に応じて、お見積もりが必要な場合は現地にうか がわせていただき、現状の確認をいたします。

                            </p>
                        </div>

                    </li>
                    <!--  -->
                    <li class="c-tabContent__listItem">
                        <figure>
                            <img src="https://via.placeholder.com/390x225" alt="img">
                        </figure>
                        <div class="content">
                            <h4>
                                サービス実施

                            </h4>
                            <p>
                                お約束の日に現地に伺い、清掃業務を行わせていただきま
                                す。

                            </p>
                        </div>

                    </li>
                    <!--  -->
                    <li class="c-tabContent__listItem">
                        <figure>
                            <img src="https://via.placeholder.com/390x225" alt="img">
                        </figure>
                        <div class="content">
                            <h4>
                                作業の確認
                            </h4>
                            <p>
                                作業が終わりましたら、ご一緒に作業結果をご確認いただ きます。何かご要望がございましたら、お気軽にお伝えく ださい。柔軟に対応させていただきます。
                            </p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- *** -->
<section class="p-top7">
    <div class="l-container">
      <h2 class="c-title03">
        <span class="ja">お近くの店舗を探す</span>
        <span class="en">FLOW</span>
    </h2>
    <div class="p-top7__content">
        <p class="caption">生活のお困りごとをご相談ください！</p>
        <div class="p-top7__diagram">
            <div class="c-board">
                <p class="c-board__caption">都道府県をお選びください</p>
                <div class="c-board__content">
                    <div class="c-board__direct">
                        <dl>
                            <dt>北海道・東北 </dt>
                            <dd>
                                <a href="">北海道</a>
                                <a href="">青森県</a>
                                <a href="">岩手県</a>
                                <a href="">宮城県</a>
                                <a href="">秋田県</a>
                                <a href="">山形県</a>
                                <a href="">福島県</a>
                                
                            </dd>
                        </dl>
                        <dl>
                            <dt>甲信越・北陸</dt>
                            <dd>
                                <a href="">山梨県</a>
                                <a href="">新潟県</a>
                                <a href="">長野県</a>
                                <a href="">富山県</a>
                                <a href="">石川県</a>
                                <a href="">福井県</a>
                                
                            </dd>
                        </dl>
                        <dl>
                            <dt>関西</dt>
                            <dd>
                                <a href="">大阪府</a>
                                <a href="">兵庫県</a>
                                <a href="">京都府</a>
                                <a href="">滋賀県</a>
                                <a href="">奈良県</a>
                                <a href="">和歌山県</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>四国</dt>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="c-board c-board--w2">
                <p class="c-board__caption">都道府県をお選びください</p>
                <div class="c-board__content">
                    <div class="c-board__picture">
                        <img src="https://via.placeholder.com/365x278" alt="img">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

</section>
<!-- *** -->
<section class="p-top8">
    <div class="l-container">
      <h2 class="c-title03">
        <span class="ja">新着情報</span>
        <span class="en">NEWs</span>
    </h2>
    <ul class="c-list01">
        <li class="c-list01__item">

            <p class="c-list01__info">
                <span class="time">2020.03.22</span>
                <a href="" class="cat">カテゴリ</a>
            </p>
            <a href="" class="c-list01__title">
                <h3>ニュースタイトルが入ります。</h3>
            </a>

        </li>
        <li class="c-list01__item">

            <p class="c-list01__info">
                <span class="time">2020.03.22</span>
                <a href="" class="cat">カテゴリ</a>
            </p>
            <a href="" class="c-list01__title">
                <h3>ニュースタイトルが入ります。</h3>
            </a>

        </li>
        <li class="c-list01__item">

            <p class="c-list01__info">
                <span class="time">2020.03.22</span>
                <a href="" class="cat">カテゴリ</a>
            </p>
            <a href="" class="c-list01__title">
                <h3>ニュースタイトルが入ります。</h3>
            </a>

        </li>
        <li class="c-list01__item">

            <p class="c-list01__info">
                <span class="time">2020.03.22</span>
                <a href="" class="cat">カテゴリ</a>
            </p>
            <a href="" class="c-list01__title">
                <h3>ニュースタイトルが入ります。</h3>
            </a>

        </li>
        <li class="c-list01__item">

            <p class="c-list01__info">
                <span class="time">2020.03.22</span>
                <a href="" class="cat">カテゴリ</a>
            </p>
            <a href="" class="c-list01__title">
                <h3>ニュースタイトルが入ります。</h3>
            </a>

        </li>
    </ul>
    <div class="p-top8__btn">
        <a href="" class="c-btn01 c-btn01--bgBlue c-btn01--spbig02">
            <span class="c-btn01__icon">
                <img src="https://via.placeholder.com/22x22" alt="img">
            </span>
            <span class="c-btn01__txt">
                一覧を見る
            </span>
        </a>  
    </div>
</div>
</section>

</main>
<!--▲ Content are ▲-->
<footer class="c-footer">
    <div class="c-footer__service">
        <div class="l-container">
            <h2 class="c-title03">
                <span class="ja">日本お掃除代行のサービスグループ</span>
                <span class="en">Service group</span>
            </h2>
            <div class="c-footer__serviceBanner">

                <ul class="left">
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                </ul>

                <ul class="right">
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/360x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/360x70" alt="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="c-footer__bottom">
        <div class="l-container">
            <div class="c-footer__content1">
                <h2 class="logo">
                    <a href="">
                       <img src="https://via.placeholder.com/338x60" alt="img">
                   </a>
               </h2>
               <ul class="direc">
                <li>
                    <a href="" class="c-btn01 c-btn01--bgBlue">
                        <span class="c-btn01__icon">
                            <img src="https://via.placeholder.com/22x22" alt="img">
                        </span>
                        <span class="c-btn01__txt">
                            サービスを見る
                        </span>
                    </a>  
                </li>
                <li>
                 <a href="" class="c-btn01 c-btn01--bgYellow c-btn01--spmd">
                    <span class="c-btn01__icon">
                        <img src="https://via.placeholder.com/22x22" alt="img">
                    </span>
                    <span class="c-btn01__txt">
                       お問い合わせ
                   </span>
               </a>  
           </li>
       </ul>
   </div>

   <!--  -->
   <div class="c-footer__archive">
    <div class="c-footer__info">
        <p class="address">
           <span class="number">T 557-0045</span><br> 大阪府大阪市西成区玉出西  <span class="number">2-13-27</span>
       </p>
       <dl>
        <dt>TEL</dt>
        <dd><a href="">0120-537-176</a></dd>
    </dl>
    <dl>
        <dt>營業時間</dt>
        <dd>10 時～ 18 時</dd>
    </dl>
    <dl>
        <dt>定休日</dt>
        <dd>金曜日</dd>
    </dl>
</div>
<ul class="c-nav01">
    <li>
     <h4>サービス </h4>
     <ul>
         <li><a href="">ハウスクリーニング</a></li>
         <li><a href="">エアコンクリーニング</a></li>
         <li><a href="">キッチンのお掃除</a></li>
         <li><a href="">水回りのお掃除</a></li>
         <li><a href="">お部屋のお掃除</a></li>
         <li><a href="">民泊清掃</a></li>
     </ul>
 </li>
</ul>
<ul class="c-nav01">
    <li>
     <h4>マイページ</h4>
     <ul>
         <li><a href="">新規会員登録</a></li>

         <li><a href="">ログイン</a></li>

     </ul>
 </li>
 <li>
    <a href="">店鋪一覽</a>
</li>
<li>
    <a href="">はじめての方へ</a>
</li>
<li><a href="">ご依頼の流れ</a></li>
<li><a href="">よくあるご質問</a></li>
<li><a href="">お客様の声</a></li>
<li><a href=""></a></li>
<li><a href="">企業情報</a></li>
</ul>
<ul class="c-nav01 c-nav01--spmd">
    <li><a href="">お知らせ</a></li>
    <li><a href="">ブログ</a></li>
    <li><a href="">お問い合わせ</a></li>
    <li>
        <a href="">フランチャイズ加盟について</a>
        <ul>
            <li><a href="">説明会日程予約</a></li>
            <li><a href="">資料問い合わせ</a></li>
            <li><a href=""></a></li>
            <li>オーナーの声</li>
        </ul>
    </li>
</ul>

</div>
</div>

</div>
<!--  -->
<div class="c-footer__copyr">
    <div class="l-container">
        <ul class="nav">
            <li>
                <a href="">利用規約</a>
            </li>
            <li>
                <a href="">プライバシーポリシー</a>
            </li>
            <li>
                <a href="">特定商取引法に基づく表示</a>
            </li>
        </ul>
        <p class="copyright">
            Copyright Nihon Osouji daiko All rights reserverd.
        </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>
</footer>
<%- //include('inc/_footer'); %>
