.l-agency{
    margin-top: 351px;
}

.c-detail{
    h4{
        font-size: 2.5rem;
        letter-spacing: 2.5px;
        border-bottom: 1px solid #0785da;
        padding-bottom: 18px;
        margin-bottom: 22px;
        span{
            color: #0785da;
        }
    }
    p{
        letter-spacing: 1.7px;
        line-height: 1.9;
    }
    h5{
        margin-top: 62px;
        font-size: 2.3rem;
        letter-spacing: 1.3px;
        margin-bottom: 21px;
    }
    ul{
        margin-top: 66px;
        li{
            margin-bottom: 25px;
            position: relative;
            text-indent: 20px;
            letter-spacing: 1.8px;
            &::before{
                content: url("../img/dots.png");
                position: absolute;
                left: 0;
                transform: translateX(-20px) translateY(-100%);
                width: 7px;
                height: 7px;
            }
        }
    }
    ol{
        margin-top: 48px;
        margin-bottom: 52px;
        counter-reset: orderList;
        li{
            letter-spacing: 2.7px;
            margin-bottom: 17px;
            &::before{
                counter-increment: orderList;
                content: counter(orderList);
                font-size: 2.5rem;
                color: #0083d8;
                margin-right: 12px;
            }
        }
    }
    &__border-left{
        border-left: 6px solid #0083d8;
        box-sizing: border-box;
        max-width: 100%;
        padding-left: 15px;
        margin-bottom: 34px;
        p{
            letter-spacing: 1px;
            line-height: 1.8;
            &:first-child{
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 14px;
                letter-spacing: 1.8px;
            }
        }
    }
    &__quote-box{
        box-sizing: border-box;
        background-color: #f4f4f4;
        max-width: 100%;
        margin-top: 95px;
        padding: 0 28px;
        padding-top: 62px;
        padding-bottom: 37px;
        position: relative;
        p{
            letter-spacing: 0.7px;
            &:first-child{
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 21px;
                letter-spacing: 4.5px;
                color: #0083d8
            }
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-42%);
        }
    }
}