///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// display
//------------------------------------------------------------
.u-block{
	display: block;
}
//------------------------------------------------------------
// align
//------------------------------------------------------------
.u-center{
	text-align: center;
}
//------------------------------------------------------------
// text
//------------------------------------------------------------

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-yellow{
	color: #fbe790;
}