<footer class="c-footer">
    <div class="c-footer__service">
        <div class="l-container">
            <h2 class="c-title03">
                <span class="ja">日本お掃除代行のサービスグループ</span>
                <span class="en">Service group</span>
            </h2>
            <div class="c-footer__serviceBanner">

                <ul class="left">
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/390x70" alt="img">
                        </a>
                    </li>
                </ul>

                <ul class="right">
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/360x70" alt="img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://via.placeholder.com/360x70" alt="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="c-footer__bottom">
        <div class="l-container">
            <div class="c-footer__content1">
                <h2 class="logo">
                    <a href="">
                       <img src="https://via.placeholder.com/338x60" alt="img">
                   </a>
               </h2>
               <ul class="direc">
                <li>
                    <a href="" class="c-btn01 c-btn01--bgBlue">
                        <span class="c-btn01__icon">
                            <img src="https://via.placeholder.com/22x22" alt="img">
                        </span>
                        <span class="c-btn01__txt">
                            サービスを見る
                        </span>
                    </a>  
                </li>
                <li>
                 <a href="" class="c-btn01 c-btn01--bgYellow c-btn01--spmd">
                    <span class="c-btn01__icon">
                        <img src="https://via.placeholder.com/22x22" alt="img">
                    </span>
                    <span class="c-btn01__txt">
                       お問い合わせ
                   </span>
               </a>  
           </li>
       </ul>
   </div>

   <!--  -->
   <div class="c-footer__archive">
    <div class="c-footer__info">
        <p class="address">
           <span class="number">T 557-0045</span><br> 大阪府大阪市西成区玉出西  <span class="number">2-13-27</span>
       </p>
       <dl>
        <dt>TEL</dt>
        <dd><a href="">0120-537-176</a></dd>
    </dl>
    <dl>
        <dt>營業時間</dt>
        <dd>10 時～ 18 時</dd>
    </dl>
    <dl>
        <dt>定休日</dt>
        <dd>金曜日</dd>
    </dl>
</div>
<ul class="c-nav01">
    <li>
     <h4>サービス </h4>
     <ul>
         <li><a href="">ハウスクリーニング</a></li>
         <li><a href="">エアコンクリーニング</a></li>
         <li><a href="">キッチンのお掃除</a></li>
         <li><a href="">水回りのお掃除</a></li>
         <li><a href="">お部屋のお掃除</a></li>
         <li><a href="">民泊清掃</a></li>
     </ul>
 </li>
</ul>
<ul class="c-nav01">
    <li>
     <h4>マイページ</h4>
     <ul>
         <li><a href="">新規会員登録</a></li>

         <li><a href="">ログイン</a></li>

     </ul>
 </li>
 <li>
    <a href="">店鋪一覽</a>
</li>
<li>
    <a href="">はじめての方へ</a>
</li>
<li><a href="">ご依頼の流れ</a></li>
<li><a href="">よくあるご質問</a></li>
<li><a href="">お客様の声</a></li>
<li><a href=""></a></li>
<li><a href="">企業情報</a></li>
</ul>
<ul class="c-nav01 c-nav01--spmd">
    <li><a href="">お知らせ</a></li>
    <li><a href="">ブログ</a></li>
    <li><a href="">お問い合わせ</a></li>
    <li>
        <a href="">フランチャイズ加盟について</a>
        <ul>
            <li><a href="">説明会日程予約</a></li>
            <li><a href="">資料問い合わせ</a></li>
            <li><a href=""></a></li>
            <li>オーナーの声</li>
        </ul>
    </li>
</ul>

</div>
</div>

</div>
<!--  -->
<div class="c-footer__copyr">
    <div class="l-container">
        <ul class="nav">
            <li>
                <a href="">利用規約</a>
            </li>
            <li>
                <a href="">プライバシーポリシー</a>
            </li>
            <li>
                <a href="">特定商取引法に基づく表示</a>
            </li>
        </ul>
        <p class="copyright">
            Copyright Nihon Osouji daiko All rights reserverd.
        </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>
</footer>
</body>
</html>