	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			©2019 ALLGROW LABO Inc.
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>