<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>
<body>
    <!--▼ Header ▼-->
    <header class="c-header">
        <div class="l-container">
            <div class="c-header__top">
                <h1 class="c-header__logo">
                    <a href="">
                        <img src="https://via.placeholder.com/320x58" alt="img">
                    </a>
                </h1>
                <div class="c-header__info">
                    <div class="c-info">
                        <p class="c-info__phone">
                            <img src="https://via.placeholder.com/27x17" alt="img"><span><a href="tel:0120-573-176">0120-573-176</a></span>
                        </p>
                        <p class="c-info__time">
                            <span class="title">営業時間</span>
                            <span class="time">10 : 00 ~ 18 : 00</span>

                        </p>

                    </div>
                    <a href="" class="c-btn01 c-btn01--bgBlue">
                        <span class="c-btn01__icon">
                            <img src="https://via.placeholder.com/22x22" alt="img">
                        </span>
                        <span class="c-btn01__txt">
                            会員登録
                        </span>
                    </a>  
                    <a href="contact.html" class="c-btn01  c-btn01--bgYellow c-btn01--spmd">
                        <span class="c-btn01__icon">
                           <img src="https://via.placeholder.com/22x16" alt="img">
                       </span>
                       <span class="c-btn01__txt">
                        お問い合わせ
                    </span>
                </a>
            </div>
        </div>
        <!--  -->
        <div class="c-header__nav">
            <ul class="c-gnav">
                <li><a href="">ハウスクリーニング</a></li>
                <li><a href="">エアコンのお掃除</a></li>
                <li><a href="">キッチンのお掃除</a></li>
                <li><a href="">水回りのお掃除</a></li>
                <li><a href="">民泊運営・掃除</a></li>
                <li><a href="">オンラインストア</a></li>
            </ul>
        </div>
    </div>
</header>
<!--▲ Header ▲-->